<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AbsenceModule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>612A5A6C1C9171E9008EB69F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>612A5A761C9171E9008EB69F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>615D6D8D1CA3917900FBDFAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
